<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ZyWALL USG 300</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <div class="login-box">
      <h3>Enter User Name/Password and click to login.</h3>
      <form method="POST" action="/dummy">
        <label>User Name:</label><br>
        <input type="text" name="username"><br>

        <label>Password:</label><br>
        <input type="password" name="pwd"><br><br>

        <button type="submit">Login</button>
        <button type="reset">Reset</button>
      </form>
      <div class="note">
        <strong>Note:</strong><br>
        1. Turn on Javascript and Cookie setting in your web browser.<br>
        2. Turn off Popup Window Blocking in your web browser.<br>
        3. Lütfen One-Time Password kısmını boş bırakınız.
      </div>
    </div>
  </div>
</body>
</html>
